
.screenshot-preview .scroll-y {
  width: 100%;
}

.screenshot-preview h1 {
  color: var(--analysis-data-color);
  font-size: 14px;
}

.screenshot-preview .content {
  margin-top: 84px;
  margin-bottom: 12px;
  margin-left: 58px;
}

.screenshot-preview a {
  color: var(--analysis-data-color);
  text-decoration: none;
}

.screenshot-preview a:hover {
  text-decoration: underline;
}
