screenshot-preview {
  display: block;
}

screenshot-preview .scroll-y {
  width: 100%;
}

screenshot-preview h1 {
  color: var(--analysis-data-color);
  font-size: 16px;
}

screenshot-preview .content {
  margin-top: 100px;
  margin-bottom: 12px;
  margin-left: 20px;
}

screenshot-preview a {
  display: block;
  padding: 8px;
  color: var(--analysis-data-color);
  text-decoration: none;
}

screenshot-preview a:hover {
  text-decoration: underline;
}
