screenshot-preview {
  display: block;
}

screenshot-preview .scroll-y {
  width: 100%;
}

screenshot-preview h1 {
  color: var(--analysis-data-color);
  font-size: 16px;
  margin: 0;
}

screenshot-preview .content {
  padding: 80px 20px 20px 20px;
}

screenshot-preview a {
  display: block;
  padding: 8px;
  color: var(--analysis-data-color);
  text-decoration: none;
}

screenshot-preview a:hover {
  text-decoration: underline;
}

screenshot-preview compare-header {
  height: auto;
}


@media (max-width: 480px) {

  screenshot-preview a {
    padding: 12px;
    font-size: 18px;
  }

}
