
table {
  padding: 8px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 8px;
  white-space: nowrap;
  border-bottom: 1px solid var(--border);
}

td {
  padding: 8px;
  vertical-align: top;
}

.img-link {
  display: block;
  margin: auto;
  border: 0;
  max-width: unset;
}

img,
canvas {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

diff-pixelmatch {
  display: block;
  text-align: center;
}

.analysis {
  min-width: 280px;
  max-width: 280px;
}

.analysis div {
  padding: 0 0 12px 0;
}