
body {
  overflow: hidden;
}

screenshot-compare {
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  height: 100vh;
}

compare-header {
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: -100px;
  padding-left: 100px;
  width: calc(100% + 200px);
  height: 84px;
}

compare-thead {
  position: relative;
  top: 64px;
  z-index: 1;
}

.scroll-x {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-y {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
