
compare-table {
  display: table;
  width: 100%;
  margin-top: 84px;
  margin-bottom: 12px;
}

compare-tbody {
  display: table-row-group;
}

compare-tbody compare-cell {
  padding-top: 12px;
}

compare-row {
  display: table-row;
}

compare-row[hidden] {
  display: none;
}

compare-cell {
  display: table-cell;
  vertical-align: top;
  padding: 3px 10px;
}
