
header {
  padding: 8px;
  background: white;
  box-shadow: var(--header-box-shadow);
}

img {
  width: 174px;
  height: 32px;
}

.logo {
  flex: 1;
  padding: 7px;
}

a {
  padding: 8px;
  color: var(--analysis-data-color);
  text-decoration: none;
}

.master {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 160px;
  margin: 40px auto;
}

form div {
  margin: 10px;
}

input {
  width: 100%;
}
