
.is-master {
  background: #efffe6;
}

table.screenshot-lookup {
  margin: 8px;
  width: 100%;
  font-size: 12px;
}

.screenshot-lookup td {
  padding: 4px 8px;
}

.screenshot-lookup .desc {
  white-space: nowrap;
}

.screenshot-lookup .timestamp {
  white-space: nowrap;
}
