
.is-master {
  background: #efffe6;
}

table.snapshot-list {
  margin: 8px;
  width: 100%;
  font-size: 12px;
}

.snapshot-list td {
  padding: 4px 8px;
}

.snapshot-list .desc {
  white-space: nowrap;
}
