
compare-row img,
compare-row canvas {
  display: block;
  box-shadow: var(--screenshot-box-shadow);
  border-radius: var(--screenshot-border-radius);
}

compare-row a {
  display: block;
}

.is-loading {
  visibility: hidden;
}
