
:host {
  display: flex;
}

th-cell {
  display: block;
  flex: 1;
  font-weight: 500;
  font-size: 12px;
}

th-cell div {
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th-cell a {
  color: var(--font-color);
  text-decoration: none;
}

th-cell a:hover {
  color: var(--analysis-data-color);
  text-decoration: underline;
}

.analysis div {
  width: 262px;
}